html,
body {
	height: 100%;
}

ul {
	list-style-type: none;
	margin-bottom: 0;
	padding-inline-start: 0;
}

.sep-symbol {
	margin: 0 14px;
}

.menu {
	display:flex;
	height: 100vh;
	overflow-x: hidden;
  	overflow-y: hidden;
}

#menu-column {
	position: fixed;
	padding-left: 0;
	padding-right: 0;
	left: 0;
	top: 0;
	height: 100vh;
	overflow-y: scroll;
}

#pictures-column {
	position: fixed;
	left: 50%;
	top: 0;
	height: 100vh;
	overflow-y: scroll;
	padding-left: 0;
	padding-right: 0;
}


#menu1 {
	background-color: #fffff0;
	text-align: right;
	padding:120px;
	justify-content: flex-end;
}

#menu1 .menu-inner {
	align-self: flex-end;
}

#meat_header {
	margin-bottom: 60px;
}

#meat_list {
	margin-bottom: 40px;
}

#meat_list li {
	margin: 20px 0;
}

.meat_price {
	margin-left: 60px;
}

#menu2 {
	background-color: #ffffff;
	padding: 90px 150px;
	justify-content: center;
}

#menu2 .menu-inner {
	text-align: center;
}

#menu2 .menu-inner .sub-menu {
	margin-bottom: 40px;
}

#veg_list {
	text-align: center;
}

#veg_list li {
	margin: 30px 0;
}

#menu3 {
	background-color: pink;
}


#pictures1 {
	background-color: #1c1c1c;
	height: 1800px;
	color: #ababab;
}

#pictures2 {
	background-color: grey;
	height: 1800px;
}

#pictures3 {
	background-color: purple;
	height: 1800px;
}